@import './variables';

body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

.rotate-45 {
    transform: rotate(45deg);
  }
  .-rotate-45 {
    transform: rotate(-45deg);
  }

// nav li:last-child a {
//     background: $primary;
//     &:hover {
//         background: $primary-hover;
//     }
    
// }

// nav li a {
//     transition: $smooth;
//     &:hover {
//         color: $primary;
//     }   
// }

// section.hero {
//     background: $secondary;
// }

// .size {
//     background:  $secondary;
// }

// .add-to-cart {
//     border: 2px solid $primary;
//     color: $primary;
//     transition: $smooth;
//     &:hover {
//         background:  $primary;
//         border-color: $pure;
//         color: $pure;
//     }
// }

.btn-primary {
    background: $primary;
    transition: $smooth;
    &:hover {
        background: $primary-hover;
    }
}

section.cart {
    background: $secondary;
    .amount {
        color: $primary;
    }
}

section.login {
    background: $secondary;
    min-height: calc(100vh - 86px);
    a {
        color: $primary;
        &:hover {
            color: $primary-hover;
        }
    }
}

// whatsapp style
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

// Video Style
.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}